<div class="d-flex gap-2 mt-4">
  <div class="container shadow-lg rounded p-4">
    <div class="d-flex">
      <div class="w-25">
        <img style="height: 70px; width: 70px" [src]="weatherImg" alt="" />
        <div class="small">
          <h5>{{ cityInfo.weather[0].main }}</h5>
          <h4 class="fw-light">{{ cityInfo.weather[0].description }}</h4>
        </div>
      </div>
      <div class="rounded p-2 bg-opacity-25 bg-dark">
        <div class="d-flex w-100 mb-3">
          <h4>{{ cityInfo.name }} | {{ cityInfo.sys.country }}</h4>
          <button [disabled]="checkFavAndUser()" class="ms-auto size-sm btn btn-dark" (click)="addToFavorites(cityInfo)">❤️</button>
        </div>
       
        <div class="bg-light rounded px-2">
          Temperature: {{ toCelsius(cityInfo.main.temp) }}
        </div>
        <div class="d-flex flex-wrap">
          <span class="w-50"
            >Wind:<span class="text-dark">{{ cityInfo.wind.speed }}</span></span
          >
          <span class="w-50"
            >Feels like:<span class="text-dark">{{
              cityInfo.main.feels_like
            }}</span></span
          >
          <span class="w-50"
            >temp_min:<span class="text-dark">{{
              cityInfo.main.temp_min
            }}</span></span
          >
          <span class="w-50"
            >temp_max:<span class="text-dark">{{
              cityInfo.main.temp_max
            }}</span></span
          >
          <span class="w-50"
            >pressure:<span class="text-dark">{{
              cityInfo.main.pressure
            }}</span></span
          >
          <span class="w-50"
            >humidity:<span class="text-dark">{{
              cityInfo.main.humidity
            }}</span></span
          >
          <span class="w-50"
            >sea_level:<span class="text-dark">{{
              cityInfo.main.sea_level
            }}</span></span
          >
          <span class="w-50"
            >grnd_level:<span class="text-dark">{{
              cityInfo.main.grnd_level
            }}</span></span
          >
        </div>
      </div>
    </div>
  </div>
  <div class="container shadow-lg p rounded p-4">
    <google-map class="rounded" [options]="mapOptions"></google-map>
  </div>
</div>
